<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Laila:400,700&amp;subset=latin-ext" rel="stylesheet">


</head>
<body>
    <main id="app">
        <form @submit.prevent="addTodo">
            <label for="newTodo"></label>
            <input v-model="newTodo" type="text" name="newTodo" id="newTodo" value="">
            <button type="submit" name="button" class="btn from-middle">Add</button>
            <button @click="deleteTodo" type="button" name="button" class="btn from-middle">Remove</button>
            <button @click="clearAllTodo" type="button" name="button" class="btn from-middle">Clear</button>
        </form>
        
        <ul>
            <li v-for="(todo, index) in todos">
                <span class="first-todo-style">{{ todo.message }} {{ index + 1 }}</span><span class="second-todo-style"> {{ todo.title }}</span>
            </li>
        </ul>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>